# Токен бота от @BotFather
BOT_TOKEN=123456789:ABCDefghIJKLmnopQRSTuvwxYZ

# Ваш Telegram ID (узнать у @userinfobot)
ADMIN_ID=000000000

# ID группы-форума (обязательно с минусом в начале)
GROUP_ID=-1000000000000